*{
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: #FFF;
	font-size: 14px;
	color: #4a4a4a;
	font-family: 'Lato', sans-serif;
}
.left{
	float: left;
}
.btn{
	background-color: #144c79;
	padding: 5px 10px;
	border-radius: 3px;
	border: none;
	color: #FFF;
	cursor: pointer;
}
a{
	color: #2E84C9;
}
a:hover{
	color: #4ab960;
}
.block{
	display: block;
}
.hide{
	display: none;
}




#container{
	width: 100%;
}

#index{
	width: 90%;
	margin: 0 auto;
	margin-top: 120px;
}
#index a{
	margin: 0 auto;
	text-decoration: none;
}
#index h2{
	font-size: 26px;
	color: white;
	text-align: center;
	margin-bottom: 5px;
}
#index h3{
	font-size: 20px;
	color: yellow;
	text-align: center;
	margin-bottom: 20px;
}
#index img.index-logo{
	width: 90px;
	height: 90px;
	position: relative;
    left: 46%;
    margin-bottom: 10px;
    border-radius: 5px;
}
.search{
	width: 600searpx;
	margin: 0 auto
}
.search form{
	position: relative;
    width: 600px;
    display: table;
    margin: 0 auto;
}
select.jenis{
	position: absolute;
	left: 0;
	z-index: 9;
	border: none;
	border-radius: 5px 0px 0px 5px;
	padding: 15px 10px 15px 10px;
	font-size: 16px;
	color: white;
	color: #fff;
   background-color:  #144c79;
   background-position: right;
   background-size: 20px; 
   background-repeat: no-repeat;

}

.search-text{
	width: 100%;
	font-size: 16px;
	padding: 15px 80px 15px 160px;
	border-radius: 5px;
	border: none;
	position: absolute;
}
a.dropdown{
	background: url('img/dropdown.png') left;
	background-size: 20px;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 20px;
	border: none;
	position: absolute;
    top: 22px;
    right: 50px; 
}

.submit{
	width: 45px;
	background: url('img/search.png') center;
	background-size: 35px;
	background-position-x: 5px;
	background-repeat: no-repeat;
	color: white;
	background-color: #144c79;
	font-size: 16px;
	padding: 15px;
	border-radius: 0px 5px 5px 0;
	border: none;
	position: absolute;
	right: 0;
}
.advance{
	background-color: rgba(6, 5, 5, 0.83);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
}
.popup{
	width: 540px;
	display: inline-table;
	background-color: #FFF;
	border-radius: 5px;
	padding: 20px;
	position: fixed;
	top: 14%;
	left: 30%;
}
.popup .close{
	width: 20px;
	height: 20px;
	float: right;
	margin-bottom: 10px;
}
.popup .row{
	height: 40px;
}
.popup .col1{
	width: 20%;
	height: 30px;
	float: left;
}
.popup .col2{
	width: 80%;
	height: 30px;
	float: right;
}
.popup .col2 input[type="text"].popup-text, select.popup-select{
	width: 100%;
	border-radius: 3px;
	background-color: #FFF;
	padding: 5px;
	border: 1px solid #a9a9a9;
}
.cari{
	width: 60px;
	background: url('img/search.png') left;
	background-size: 30px;
	background-position-x: 15px;
	background-repeat: no-repeat;
	color: white;
	background-color: #144c79;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	margin-top: 10px
}
/*search_result*/
#content{
	width: 90%;
	margin: 0 auto;
}

/*head*/
.head{
	width: 100%;
	background-color: #467ea7;
}
.head .head-result{
	width: 90%;
	padding: 20px 0px;
	margin: 0 auto;
	display: flex;
}
.head .head-left{
	width: 45%;
}
.head .head-left img.logo{
	width: 65px;
	border-radius: 5px;
    margin-right: 20px;
}
.head .head-left h4{
	font-size: 2em;
	color: #FFF;
}
.head .head-left h5{
	font-size: 1.3em;
	padding-top: 7px;
	color: yellow;
}
.head .head-right{
	width: 55%;
}
.head .head-right form{
	position: relative;
	margin-top: 15px;
}

.head-right .search-box{
	width: 100%;
	font-size: 16px;
	padding: 10px 80px 10px 15px;
	border-radius: 5px;
	border: none;
	position: absolute;
	border: 1px solid #CCC;
}
.head-right a.dropdown-box{
	background: url('img/dropdown.png') left;
	background-size: 20px;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 20px;
	border: none;
	position: absolute;
	right: 50px;
	top: 15px;
}

.head-right .submit-box{
	width: 45px;
	background: url('img/search.png') left;
	background-size: 34px;
	background-position-x: 5px;
	background-repeat: no-repeat;
	color: white;
	background-color: #144c79;
	font-size: 16px;
	padding: 11px;
	border-radius: 0px 5px 5px 0;
	border: none;
	position: absolute;
	right: 0px;
}

/*sidebar*/
.sidebar{
	width: 25%;
	padding-right: 30px;
	padding-bottom: 20px;
}
.sidebar h4{
	font-size: 1em;
	padding: 25px 0 5px 0;
}
.sidebar div{
	font-size: 1em;
}
.sidebar select.sidebar-select{
	width: 100%;
	border: none;
	border-bottom: 1px solid #a4a4a4;
	margin-top: 10px;
	padding: 5px 5px;
	background-color: #FFF;
	padding-left: 0px;
}
.sidebar .btn-filter{
	margin: 10px 0;
}
.sidebar .negara{
	padding-top: 10px;
}
.sidebar .negara span{
	display: flex;
}
.sidebar .negara h4{
	font-size: 1.1em;
}
.sidebar .negara h5{
	font-size: 1em;
}
.sidebar .negara a{
	text-decoration: none;
}
/*isi*/
.isi{
	width: 75%;
	float: right;
	padding-bottom: 20px;
}
.hasil{
	width: 100%;
	padding: 25px 0 10px 0;
}
.hasil h6{
	font-size: .9em;
}
.hasil a{
	margin: 5px 0;
	text-decoration: none;
}
.detail{
	width: 17.9%;
	padding: 10px 0px;
	margin-right: 20px;
	display: inline-table;
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
.detail:nth-child(5n+6){
	margin-right: 0px;
}

.isidetail{
	width: 100%;
	height: 200px;
	background: url('img/no-image.png');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 5px;
	border: 1px solid #CCC;

}
.isidetail2{
	margin-top: 10px;
	width: 100%;
}
.isidetail2 a.judul{
	text-transform: capitalize;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 10px;
	color: #4A4A4A;
}
.isidetail2 a.status{
	border-radius: 5px;
	border: 1px solid #515251;
	padding: 5px;
	color: #515251;
	text-decoration: none;
	float: left;
	font-size: 11px;
}
.isidetail2 h5{
	padding-top: 5px;
	float: right;
	font-size: 11px;
	color: #4a4a4a;
}
.show-detail{
	width: calc(100%);
	background-color: rgba(6, 5, 5, 0.83);
	border-radius: 5px;
	text-align: center;
	font-size: 10px;
	padding: 15px 5px 5px;
	position: absolute;
	top: 100%;
	bottom: 10px;
}
.detail:hover .show-detail{
	top: 10px;
	transition: top .5s;
	transition-timing-function: ease-in-out;
}
.show-detail p{
	color: #FFF;
	clear: both;
	padding-bottom: 10px;
}
.show-detail a{
	border: 1px solid #FFF;
	padding: 5px;
	font-size: 12px;
	color: #FFF;
	text-decoration: none;
	position: relative;
    bottom: -40px;
}

/*paging*/
.paging{
	margin-top: 20px;
}
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 5px 8px;
    text-decoration: none;
}

ul.pagination li a.active {
    background-color: #144c79;
    border-radius: 5px;
    color: white;
}
ul.pagination li a:hover {
	background-color: #CCC;
	border-radius: 5px;
}

/*head-detail*/
.wrap-detail{
	width: 75%;
	float: right;
	padding-top: 30px;
}
.detail-isi{
	padding: 10px 20px;
	border-bottom: 1px solid #4a4a4a;
	display: flex;
}
.detail-isi:nth-child(even){
	background-color: #e9eef1;
}
.detail-isi .col1{
	width: 50%;
	float: left;
}
.detail-isi .col2{
	width: 50%;
	float: left;
}
.btn-detail{
	margin: 30px 0px 30px 20px;
}

/*div foot*/
#footer{
	clear: both;
	width: 90%;
	margin: 0 auto;
	border-top: 1px solid #CCC;
}
#footer .foot-left{
	float: left;
	padding: 20px 0;
	color: #5a5959; 
}
#footer .foot-right ul{
	float: right;
	list-style: none;
}
#footer .foot-right li {
	float: left;
	padding: 20px 0;
}
#footer .foot-right a{
	text-decoration: none;
	color: #5a5959; 
	padding: 0 10px;
}
#footer .foot-right a:hover{
	color: #4ab960;
}

/*footer*/

footer{
	font-size: 1.2em;
	width: 100%;
	position: absolute;
	bottom: 20px;
}
footer .hakcipta{
	float: left;
	padding-left: 30px;
}
footer .menu ul{
	float: right;
	list-style: none;
	padding-right: 30px;
}
footer .menu li {
	float: left;
}
footer .menu a{
	text-decoration: none;
	color: yellow;
	padding: 0 10px;
}
footer .menu a:hover{
	color: #4ab960;
}